.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.list-items {
  list-style-type: none;
  display: flex;
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid #cbd2d9;
}
.card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.card4 {
  display: flex;
  align-items: center;
}
.card6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blue-text {
  color: #0ea5e9;
}
.box2 {
  border-radius: 50px;
  padding: 0;
  text-align: center;
  margin: 5px;
  margin-top: 10px;
}
.name {
  color: #475569;
  font-weight: 500;
  font-family: 'Roboto';
}
.comment {
  color: #64748b;
  font-size: 16px;
  font-family: 'Roboto';
}
.like-button {
  background-color: transparent;
  border: none;
}
.up-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
}

.initial-container {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
}
.like-text {
  font-size: 14px;
  font-family: 'Roboto';
}
